{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Reasons for ineligibility
      </h1>

      <p>Since you cannot juggle more than 2 balls you are ineligible. Learn how to juggle more than 2 balls and come back next time!</p>
    </div>
  </div>

{% endblock %}
